<div class="right-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 show-bar">
      <div class="right-top-section">
        <h4> Profile Details:</h4>
      </div>
      <ul>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Name: <%= @profile.name %> </li>
        </div>
      </ul>
    </div>
  </div>
</div>