<div class="right-section">
  <div class="right-top-section">
    <h3> List of Inactive Employees </h3>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= employee.email %></td>
            <td>
        			<%= link_to 'Restore', restore_employee_path(employee), remote: true, method: :delete, data: { confirm: "Are you sure want to restore?" }, class: 'color-red' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @employees %>
  </div>
</div>