<div class="right-section">
  <div class="right-top-section">
    <h3> Employee Details</h3>
  </div>
  <ul>
    <li> Name: <%= @employee.name %> </li>
    <li> Email: <%= @employee.email %> </li>
    <li> Stack: <%= @employee.stack %> </li>
    <li> Skills: <%= @employee.skills %> </li>
  </ul>
</div>