<div class="right-section">
  <div class="right-top-section">
    <h3> List of Project Details </h3>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Profile</th>
        <th>Technology</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.profile.name %></td>
          <td><%= project.technologies.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @projects %>
</div>