<div class="right-section">
  <h3> List of Assign Projects </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Assigned To</th>
        <th>Assigned As</th>
      </tr>
    </thead>
    <tbody>
      <% @assigns.each do |assign| %>
        <tr>
          <td><%= assign.project&.title %></td>
          <td><%= assign.employee&.name %></td>
          <td><%= assign.assigned_as %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @assigns %>
</div>