<div class="right-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 show-bar">
      <div class="right-top-section">
        <h4> Assign Details:</h4>
      </div>
      <ul>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Project Name: <%= @assign.project.title %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Assigned To: <%= @assign.employee&.name %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Assigned As: <%= @assign.assigned_as %> </li>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 show-bar">
          <li> Billing Hrs: <%= @assign.billing_hours %> </li>
        </div>
      </ul>
    </div>
  </div>
</div>