<div class="right-section">
  <div class="right-top-section">
    <h3> Create Crediential </h3>
    <button id="add-cred" class= "btn btn-primary create-modal">+ Credential Type</button>
  </div>
  <%= render partial: 'form'%>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h4> Create Crediential Type </h4>
      <%= simple_form_for @crediential_type, remote: true do |f| %>
        <%= render partial: './crediential_types/form', locals: {form: f}%>
        <div class="text-right">
          <%= f.submit "Save", class: 'btn btn-success save-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>