<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Project Manager", root_path , class: "navbar-brand" %>
      </div>
      <%= render "layouts/navigation" %>
    </div>
  </nav>
</div>
