<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <img src="/assets/logo.png" alt="Girl in a jacket" width="30" height="30">
      <%= link_to "Project Manager", root_path %>
    </div>
    <%= render "layouts/navigation" %>
  </nav>
</div>
