<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="<%= active_nav_munu 'home' %>">
      <%= link_to "Home", root_path %>
    </li>
  </ul>
  <%= render "layouts/devise_navigation" %>
</div>
